@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: "Mango";
        src: url(/fonts/mango-grotesque.ttf);
        font-style: normal;
        font-weight: 100 900;
    }

    @font-face {
        font-family: "Nohemi";
        src: url(/fonts/nohemi.ttf);
        font-style: normal;
        font-weight: 100 900;
    }

    body {
        @apply font-body bg-primary-background text-secondary
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-display text-primary
    }
}